xmltodict==0.12.0
zeep==3.4.0
djangorestframework-jwt==1.11.0
requests==2.22.0
Django==2.2.7
django-jalali==3.1.0
djangorestframework==3.11.2
jdatetime==3.6.2
pytz==2019.3
sqlparse==0.3.0
django-jet==1.0.8
django-import-export==2.0
pandas==0.25.3
rest-pandas==1.1.0
django-filter==2.2.0
django-jalali-date==0.2.10
jinja2==2.10.3