
{% extends "admin/base_site.html" %}
{% load jalali_tags %}
{% load static jformat admin_static admin_modify admin_urls  admin_list%}
{% load i18n %}


{% block extrahead %}{{ block.super }}
    <script src="{% static 'admin/js/django_jalali.min.js' %}"></script>
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>

{{ media }}
{% endblock %}


{% block extrastyle %}
    <script src="{% static 'admin/js/django_jalali.min.js' %}"></script>
{{ block.super }}
    <link rel="stylesheet" href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}">

    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{% endblock %}

{% block content %}
<div id="content-main">
    <div class="module filtered initialized" id="changelist">
        <div id="toolbar" class="initialized">
            <form id="changelist-search" method="get">
                <input type="submit" name="report" value="جستوجو">
{#                <input type="submit" name="xlsx" value="خروجی اکسل">#}
                {{ form }}



            </form>

        </div>
        <div class="clear"></div>
        <div class="results">
        <p>فروش شارژ</p>
            <table id="result_list">
                <thead>
                    <tr>
                            <th scope="col" class="sortable column-username sorted ascending">
                                <div class="text">نوع شارژ</div>
                                <div class="clear"></div>
                            </th>
                            <th scope="col" class="sortable column-email">
                                <div class="text">(ریال)مقدار فروش</div>
                                <div class="clear"></div>
                            </th>
                    </tr>

                </thead>

                <tbody>
                    {% for report in report_json_dict %}
                    <tr>
                        <td class="field-email">{{ report.title }}</td>
                        <td class="field-email">{{ report.value }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        <p>فروش بسته</p>
        <table id="result_list">
                <thead>
                    <tr>
                            <th scope="col" class="sortable column-username sorted ascending">

                                <div class="text"> بسته</div>
                                <div class="clear"></div>
                            </th>
                            <th scope="col" class="sortable column-email">
                                <div class="text">(ریال)مقدار فروش</div>
                                <div class="clear"></div>
                            </th>
                    </tr>

                </thead>

                <tbody>
                    {% for report in report_dictionary_package_record %}
                    <tr>
                        <td class="field-email">{{ report.title }}</td>
                        <td class="field-email">{{ report.value }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}


